.navbar {
    width: auto; /* Đảm bảo header chỉ chiếm chiều rộng cần thiết */
}
/* CSS cho menu ở bên trái */
#menu {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 250px; /* Điều chỉnh chiều rộng của aside theo ý muốn */
    background-color: #000000; /* Màu nền của aside */
    overflow-y: auto; /* Cho phép cuộn nếu nội dung quá dài */
}
#menu a {
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #000000;
}

#menu a:hover {
    background-color: #007bff;
}

#nav-link-first {
    margin-top: 40px; /* Điều chỉnh khoảng cách từ "Danh sách nhân viên" xuống phía dưới */
}

/* CSS cho phần còn lại của trang */
#content {
    margin-left: 248px; /* Khoảng cách giữa menu và nội dung phía bên phải */
    width: calc(100% - 248px); /* Chiều rộng của phần còn lại tính từ vị trí của menu */
    height: 100%; /* Chiều cao giống với chiều cao của menu */
    overflow-y: auto; /* Cho phép cuộn nếu nội dung phần còn lại quá dài */
    margin-top: 0px;
}
header{
	background-color: #000000;
}
