<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="shortcut icon" type="images/png" href="images/logo.png">

<title>Nhân viên</title>

<!-- CSS Bootstrap lõi -->
<link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- CSS tự tạo của mình-->
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div id="menu">
		<div th:replace="~{fragments/sidebar_nv :: aside}">Siderbar ở đây</div>
	</div>
	<div id="content">
		<table width=100% height=100%>
			<tr>
				<td colspan=2>
					<div th:replace="~{fragments/headerfile_nv :: header}">Header ở
						đây</div>
				</td>
			</tr>
			<tr>
				<td>
					<main>
						<div class="container-fluid px-4">
							<h1 class="mt-4">Danh sách nhân viên</h1>
							<!-- Form tìm kiếm cho NhanVien -->
								<form class="d-flex mb-3" th:action="@{/TTNhanVien/search}" method="get">
								    <input class="form-control me-2" type="search" name="search" placeholder="Tìm kiếm tên nhân viên" aria-label="Search" th:value="${search}">
								    <button class="btn btn-light" type="submit">Search</button>
								</form>
							<div class="card mb-4">
								<div class="card-body">

									<table border="1">
										<thead>
											<tr>
												<th>STT</th>
												<th>Mã nhân viên</th>
												<th>Tên nhân viên</th>
												<th>CMND</th>
												<th>Giới tính</th>
												<th>Ngày sinh</th>												
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="nv, iterStat : ${dsNhanVien}">
												<td
													th:text="${iterStat.index + 1 + (dsNhanVien.number * dsNhanVien.size)}"></td>
												<td th:text="${nv.maNV}" />
												<td th:text="${nv.tenNV}" />
												<td th:text="${nv.cmnd}" />
												<td th:text="${nv.gioiTinh}" />
												<td th:text="${nv.ngaySinh}" />
												
												<td><a
													th:href="@{/chitietTTNV/{id}(id=${nv.maNV})}"
													class="btn btn-info btn-action">Chi tiết</a> 
												</td>

											</tr>
										</tbody>
									</table>
								</div>
								<div class="pagination d-flex">
									<a th:href="@{/TTNhanVien(page=${dsNhanVien.number - 1})}"
										th:if="${dsNhanVien.hasPrevious()}"
										class="btn btn-primary btn-sm me-2">Trang Trước</a> 
									<a th:href="@{/TTNhanVien(page=${dsNhanVien.number + 1})}"
										th:if="${dsNhanVien.hasNext()}" class="btn btn-primary btn-sm">Trang
										Sau</a>
								</div>

							</div>
						</div>
					</main>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<div th:replace="~{fragments/footerfile :: footer}">Footer ở
						đây</div>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>