<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="shortcut icon" type="images/png" href="images/logo.png">

<title>Nhân viên</title>

<!-- CSS Bootstrap lõi -->
<link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- CSS tự tạo của mình-->
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div id="menu">
		<div th:replace="~{fragments/sidebar :: aside}">Siderbar ở đây</div>
	</div>
	<div id="content">
		<table width=100% height=100%>
			<tr>
				<td colspan=2>
					<div th:replace="~{fragments/headerfile :: header}">Header ở
						đây</div>
				</td>
			</tr>
			<tr>
				<td>
					<main>
						<div class="container-fluid px-4">
							<h1 class="mt-4">Danh sách nhân viên</h1>
							<div class="card mb-4">
								<div class="card-body">

									<table border="1">
										<thead>
											<tr>
												<th>STT</th>
												<th>Mã nhân viên</th>
												<th>Tên nhân viên</th>
												<th>CMND</th>
												<th>Giới tính</th>
												<th>Ngày sinh</th>
												<th>Chức vụ</th>
												<th>Phòng ban</th>
												<th>Lương</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="nv, iterStat : ${dsNhanVien}">
												<td
													th:text="${iterStat.index + 1 + (dsNhanVien.number * dsNhanVien.size)}"></td>
												<td th:text="${nv.maNV}" />
												<td th:text="${nv.tenNV}" />
												<td th:text="${nv.cmnd}" />
												<td th:text="${nv.gioiTinh}" />
												<td th:text="${nv.ngaySinh}" />
												<td th:text="${nv.chucVu}" />
												<td th:text="${nv.maPhong}" />
        										<td th:text="${nv.maLuong}" />
												<td><a
													th:href="@{/chitietNV/{id}(id=${nv.maNV})}"
													class="btn btn-info btn-action">Chi tiết</a> <a
													th:href="@{/suaNV/{id}(id=${nv.maNV})}"
													class="btn btn-success btn-action">Sửa</a> <a
													th:href="@{/xoaNV/{id}(id=${nv.maNV})}"
													class="btn btn-danger btn-action"
													onclick="return confirm('Bạn có chắc muốn xóa không?')">Xóa</a>
												</td>

											</tr>
										</tbody>
									</table>
								</div>
								<div class="pagination d-flex justify-content-center mt-4">
									<a th:href="@{/nhanVien(page=${dsNhanVien.number - 1})}"
										th:if="${dsNhanVien.hasPrevious()}"
										class="btn btn-primary btn-sm me-2">Trang Trước</a> 
									<a th:href="@{/nhanVien(page=${dsNhanVien.number + 1})}"
										th:if="${dsNhanVien.hasNext()}" class="btn btn-primary btn-sm">Trang
										Sau</a>
								</div>

							</div>
						</div>
					</main>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<div th:replace="~{fragments/footerfile :: footer}">Footer ở
						đây</div>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>