<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="shortcut icon" type="images/png" href="images/logo.png">

<title>Thêm Nhân Viên</title>

<!-- CSS Bootstrap lõi -->
<link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- CSS tự tạo của mình-->
<link th:href="@{/css/style.css}" rel="stylesheet" />
<style>
body {
	background-color: #f4f4f4;
}

form {
	max-width: auto;
	margin: 0 50px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
	font-weight: bold;
}

.form-control {
	margin-bottom: 20px;
}

.btn-submit {
	margin-right: 10px;
}
</style>


</head>
<body>
	<div id="menu">
		<div th:replace="~{fragments/sidebar :: aside}">Siderbar ở đây</div>
	</div>
	<div id="content">
		<table width=100% height=100%>
			<tr>
				<td colspan=2>
					<div th:replace="~{fragments/headerfile :: header}">Header ở
						đây</div>
				</td>
			</tr>
			<tr>
				<td>
					<main>
						<h2 class="text-center">Thêm Nhân Viên</h2>
						<form action="/themNV" method="post">
							<div class="row">
								<div class="col-md-6">
									<div class="mb-3">
										<label for="maNV" class="form-label">Mã nhân viên:</label> <input
											type="text" id="maNV" name="maNV" class="form-control"
											th:value="${nhanVien.maNV}">
									</div>
									<div class="mb-3">
										<label for="tenNV" class="form-label">Tên Nhân Viên:</label> <input
											type="text" id="tenNV" name="tenNV" class="form-control"
											th:value="${nhanVien.tenNV}">
									</div>
									<div class="mb-3">
										<label for="cmnd" class="form-label">CMND:</label> <input
											type="number" id="cmnd" name="cmnd" class="form-control"
											th:value="${nhanVien.cmnd}">
									</div>
									<div class="mb-3">
										<label for="gioiTinh" class="form-label">Giới tính:</label> <input
											type="text" id="gioiTinh" name="gioiTinh"
											class="form-control" th:value="${nhanVien.gioiTinh}">
									</div>
									<div class="mb-3">
										<label for="ngaySinh" class="form-label">Ngày sinh:</label> <input
											type="date" id="ngaySinh" name="ngaySinh"
											class="form-control" th:value="${nhanVien.ngaySinh}">
									</div>
									<div class="mb-3">
										<label for="noiSinh" class="form-label">Nơi Sinh:</label> <input
											type="text" id="noiSinh" name="noiSinh" class="form-control"
											th:value="${ttNhanVien.noiSinh}">
									</div>
									<div class="mb-3">
										<label for="nguyenQuan" class="form-label">Nguyên
											quán:</label> <input type="text" id="nguyenQuan" name="nguyenQuan"
											class="form-control" th:value="${ttNhanVien.nguyenQuan}">
									</div>
									<div class="mb-3">
										<label for="hkThuong" class="form-label">Hộ khẩu
											thường trú:</label> <input type="text" id="hkThuong" name="hkThuong"
											class="form-control" th:value="${ttNhanVien.hkThuong}">
									</div>
									<div class="mb-3">
										<label for="hkTam" class="form-label">Hộ khẩu tạm trú:</label>
										<input type="text" id="hkTam" name="hkTam"
											class="form-control" th:value="${ttNhanVien.hkTam}">
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label for="sdt" class="form-label">Số điện thoại:</label> <input
											type="number" id="sdt" name="sdt" class="form-control"
											th:value="${ttNhanVien.sdt}">
									</div>
									<div class="mb-3">
										<label for="ngayVao" class="form-label">Ngày vào công
											ty:</label> <input type="date" id="ngayVao" name="ngayVao"
											class="form-control" th:value="${ttNhanVien.ngayVao}">
									</div>
									<div class="mb-3">
										<label for="tonGiao" class="form-label">Tôn giáo:</label> <input
											type="text" id="tonGiao" name="tonGiao" class="form-control"
											th:value="${ttNhanVien.tonGiao}">
									</div>
									<div class="mb-3">
										<label for="quocTich" class="form-label">Quốc tịch:</label> <input
											type="text" id="quocTich" name="quocTich"
											class="form-control" th:value="${ttNhanVien.quocTich}">
									</div>
									<div class="mb-3">
										<label for="ngoaiNgu" class="form-label">Trình độ
											ngoại ngữ:</label> <input type="text" id="ngoaiNgu" name="ngoaiNgu"
											class="form-control" th:value="${ttNhanVien.ngoaiNgu}">
									</div>
									<div class="mb-3">
										<label for="hocVan" class="form-label">Trình độ học
											vấn:</label> <input type="text" id="hocVan" name="hocVan"
											class="form-control" th:value="${ttNhanVien.hocVan}">
									</div>
									<div class="mb-3">
										<label for="chucVu" class="form-label">Chức vụ:</label> <input
											type="text" id="chucVu" name="chucVu" class="form-control"
											th:value="${nhanVien.chucVu}">
									</div>
									<div class="mb-3">
										<label for="maphong" class="form-label">Phòng ban:</label> <select
											id="maphong" name="maPhong" class="form-select" required>
											<option value="" disabled selected>Chọn phòng ban</option>
											<option th:each="pb : ${listPhongBan}"
												th:value="${pb.maphong}" th:text="${pb.tenphong}"></option>
										</select>
									</div>
									<div class="mb-3">
										<label for="maLuong" class="form-label">Lương:</label> <select
											id="maLuong" name="maLuong" class="form-select" required>
											<option value="" disabled selected>Chọn lương</option>
											<option th:each="lg : ${listLuong}" th:value="${lg.maLuong}"
												th:text="${lg.luongCoBan}"></option>
										</select>
									</div>
								</div>
							</div>


							<button type="submit" class="btn btn-primary btn-submit">Thêm
								Nhân Viên</button>

						</form>

					</main>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<div th:replace="~{fragments/footerfile :: footer}">Footer ở
						đây</div>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>