<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

	<title>Thêm mới sinh viên thành công</title>
	

    <link th:href = "@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href ="@{/css/style.css}" rel="stylesheet" />
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Trang Chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/danhsachSV">Danh Sách Sinh Viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/themMoiSV">Thêm Mới Sinh Viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tìm Kiếm Sinh Viên</a>
      </li>
    </ul>
  </div>
</nav>

<div align="center">
    <h2>Thêm Sinh viên Thành công!</h2>
    <span>Mã Số SV:</span><span th:text="${svDTO.maSoSV}"></span><br/>
    <span>Họ Và Tên:</span><span th:text="${svDTO.hoVaTen}"></span><br/>
    <span>Lớp Học:</span><span th:text="${svDTO.lopHoc}"></span><br/>
</div>

</body>
</html>