<aside class="bg-dark">                       
	<a id="nav-link-first" class="nav-link" th:href="@{/nhanVien/all}">
	    Danh sách nhân viên
	</a>
	<a class="nav-link" th:href="@{/phongBan/all}">
	    Danh sách phòng ban
	</a>
	<a class="nav-link" th:href="@{/themNV}">
	    Thêm nhân viên
	</a>	
	<a class="nav-link" th:href="@{/phongBan/all}">	    
	    Sửa thông tin nhân viên
	</a>	
	<a class="nav-link" th:href="@{/phongBan/all}">	
	    Xóa thông tin nhân viên
	</a>
	<a class="nav-link" href="charts.html">
	    Thống kê
	</a>
</aside>
