<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>hiepvd.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index1</display-name>
    <servlet-name>Index1</servlet-name>
    <servlet-class>hiepvd.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index1</servlet-name>
    <url-pattern>/Index1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VDdoGET</display-name>
    <servlet-name>VDdoGET</servlet-name>
    <servlet-class>hiepvd.VDdoGET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VDdoGET</servlet-name>
    <url-pattern>/VDdoGET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VDdoPOST</display-name>
    <servlet-name>VDdoPOST</servlet-name>
    <servlet-class>hiepvd.VDdoPOST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VDdoPOST</servlet-name>
    <url-pattern>/VDdoPOST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VDdoPOST1</display-name>
    <servlet-name>VDdoPOST1</servlet-name>
    <servlet-class>hiepvd.VDdoPOST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VDdoPOST1</servlet-name>
    <url-pattern>/VDdoPOST1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutMe</display-name>
    <servlet-name>AboutMe</servlet-name>
    <servlet-class>hiepvd.AboutMe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutMe</servlet-name>
    <url-pattern>/AboutMe</url-pattern>
  </servlet-mapping>
</web-app>